{% extends 'event/navbar.html' %}

{% block title %} EventsBay - Create a new event {% endblock %}

{% block css %} {% load static %}
<link rel="stylesheet" href="{% static 'css/create.css' %}"> {% endblock %}

{% block body %}

{% if messages %}
<script>
    alert("Event Successfully Created")
    document.location="/event"
</script>
{% endif %}

<div class="container">
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <p>Enter Event Details</p>
    <form action="/event/create/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn">Create Event</button>
    </form>
</div>

{% endblock %}


Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ut nesciunt veritatis repellat, illo tempora, rem in voluptatum aliquam debitis esse? Quas, iusto veniam enim ea ipsum, laborum pariatur eius voluptatem quisquam tenetur, placeat accusantium! Quas expedita ab magnam possimus suscipit eius nihil quia ipsum! Facilis impedit temporibus laudantium, aliquam amet quos, ea dolorum aliquid delectus, maxime culpa est. Deserunt maiores ipsa assumenda odio culpa? Dolore nulla ut eveniet magni ratione assumenda veritatis cumque inventore mollitia! Blanditiis, eum ab. Obcaecati, nam, possimus quisquam consequuntur hic quas maiores earum nemo delectus laboriosam expedita error quasi iusto, voluptatem aliquam recusandae est illo!