{% extends 'event/navbar.html' %}

{% block title %} Sign In {% endblock %}

{% block css %} {% load static %} <link rel="stylesheet" href="{% static 'css/signin.css' %}"> {% endblock %}

{% block body %}
<div class="container">
    <h2>Welcome</h2>
    <p>Create an account</p>
    <form action="/event/signin/" method="POST"> {% csrf_token %}
        <div class="form">
            <input type="email" class="input-field" name="email"  id="email" placeholder="Email address">
        </div>
        <div class="form">
            <input type="text" class="input-field" id="frstname" name="frstname" placeholder="First Name">
        </div>
        <div class="form">
            <input type="text" class="input-field" id="lastname" name="lastname" placeholder="Last Name">
        </div>
        <div class="form">
            <input type="password" class="input-field" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn">Sign Up</button>
    </form>
    <a id="login-btn" href="/event/login">Log In Instead</a>
    <p id="terms">
        By clicking "Sign Up" I accept the EventsBay <a href="#">Terms Of Service, Community Guidelines</a> and have read the <a href="#">Privacy Policy</a>.
    </p>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}